@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* general settings */
.container {
  width: 100%;
  margin: auto;
  padding: 0 15px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .containter {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
ul {
  padding: 0;
}

:hover {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  --brand-color: #2196F3;
  --text-color: #212121;
  --text-color-grey: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  font-size: 14px;
  background-color: #FFFFFF;
  letter-spacing: 0.03em;
}

.mobile-nav {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 480px;
  height: 100%;
  padding: 48px 40px;
}

.is-open {
  visibility: visible;
  opacity: 1;
  transition: opacity 500ms ease;
}

.mobile-nav__close-button {
  position: absolute;
  margin: 8px;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  height: 29px;
  width: 29px;
  color: #000000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-nav__close-button:hover {
  color: var(--brand-color);
}

.mobile-nav__list {
  list-style: none;
  padding: 0;
  margin-bottom: 300px;
}

.mobile-nav__line {
  font-size: 40px;
  margin-bottom: 32px;
  line-height: 28px;
  padding: 0;
}

.mobile-nav__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--text-color);
}
.mobile-nav__link:hover {
  color: var(--brand-color);
}

.mobile-nav__page-link {
  line-height: 46px;
}

.mobile-nav__contact-list {
  list-style: none;
}

.mobile-nav__contact--tel {
  color: var(--brand-color);
  font-size: 34px;
  line-height: 40px;
}

.mobile-nav__contact--email {
  color: var(--text-color-grey);
  font-size: 24px;
  letter-spacing: 0.02em;
}

.mobile-nav__socials-list {
  display: flex;
  list-style: none;
}

.mobile-nav__socials-line {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-right: 10px;
}

.list-vertical-line {
  color: var(--text-color-grey);
}

.mobile-nav__socials-link {
  text-decoration: none;
  color: var(--brand-color);
}

/* footer section */
.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo--studio-white {
  color: #fff;
}

.address-wrap {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.address__list {
  padding: 0;
  text-decoration: none;
  color: #fff;
  list-style: none;
  font-style: normal;
}

.address__line {
  padding: 0;
  margin: 9px 0;
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.address__link:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.address__link--street-address {
  color: #FFFFFF;
}

.footer__media {
  display: block;
  text-align: center;
  margin-bottom: 60px;
}

.footer__media__list {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.footer__social-icon {
  color: #FFFFFF;
}

.footer__media__item {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  margin-right: 10px;
}

.join-us-title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.footer__email-subscribe {
  padding: 0;
  margin: 0;
}

.email-subscribe__form {
  text-align: center;
}

.email-subscribe__title {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.email-subscribe__input {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 10px;
  width: 100%;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.email-subscribe__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: var(--brand-color);
  color: #fff;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  cursor: pointer;
}

.icon-send {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .address-wrap {
    margin-right: 165px;
  }
  .email-subscribe__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .address-wrap {
    display: inline-block;
    text-align: left;
    margin-bottom: 0;
    margin-right: 0;
  }
  .address__list {
    margin-top: 20px;
    margin-right: 70px;
  }
  .footer__media {
    margin: 0;
    margin-right: 93px;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
  .email-subscribe__form {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }
  .email-subscribe__input {
    width: 356px;
    margin-bottom: 0;
  }
  .email-subscribe__title {
    text-align: left;
  }
  .join-us-title {
    text-align: left;
  }
}
/* header-section */
.header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__container {
  line-height: 0px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  height: 100%;
}

.nav__list {
  display: none;
}

.nav__line {
  display: inline-block;
  letter-spacing: 0.02em;
}

.nav__link {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
  line-height: 16px;
}
.nav__link:hover {
  color: var(--brand-color);
}

.nav__link--current::after {
  bottom: -31px;
  left: 0;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--brand-color);
}

.nav__link--studio {
  accent-color: var(--brand-color);
}

.nav__link--portfolio {
  accent-color: var(--brand-color);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--brand-color);
  text-decoration: none;
}

.logo--studio-black {
  color: #000;
}

.header__contact-list {
  display: none;
}

.header__contact {
  color: #757575;
  text-decoration: none;
}
.header__contact:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}

.contact-icon {
  margin-right: 8px;
}

.contact-icon--envelope {
  width: 14px;
  height: 10px;
}

.contact-icon--smartphone {
  width: 10px;
  height: 14px;
}

.menu-button {
  background-color: #fff;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: #000;
  border: none;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .menu-button {
    visibility: hidden;
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    display: flex;
    align-items: center;
    vertical-align: middle;
    line-height: 16px;
    margin-right: 40px;
  }
  .nav__list {
    display: flex;
    margin: 0;
  }
  .nav__line {
    display: inline-block;
    margin-left: 50px;
  }
  .header__contact-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    align-items: center;
    vertical-align: center;
  }
  .header__contact-line {
    display: flex;
    justify-content: space-between;
    margin-right: 0px;
    font-size: 12px;
    line-height: 14px;
  }
  .header__logo {
    margin-right: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact-list {
    display: inline-block;
  }
  .nav__line {
    margin-left: 50px;
  }
  .logo {
    margin-right: 43px;
    line-height: 31px;
    font-size: 26px;
  }
  .header__contact-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .header__contact-line {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
  }
  .contact-icon {
    margin-right: 10px;
  }
  .contact-icon--envelope {
    width: 16px;
    height: 12px;
  }
  .contact-icon--smartphone {
    width: 10px;
    height: 16px;
  }
}
/* offer-section */
.offer {
  background-image: url("./../images/bg-image_sm.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  color: #fff;
  background-size: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .offer {
    padding: 118px auto;
  }
}
@media screen and (min-width: 768px) {
  .offer {
    background-size: 768px;
    padding: 118px 204px;
  }
}
@media screen and (min-width: 1200px) {
  .offer {
    background-image: url("./../images/bg-image_lg.png");
    padding: 200px;
    background-size: 1600px auto;
  }
  .offer__text {
    width: 700px;
  }
  .main-title {
    font-size: 44px;
    line-height: 60px;
  }
  .offer__order-button {
    padding: 10px 32px;
  }
}
.offer__text {
  width: 360px;
  display: inline-block;
}

.main-title {
  text-transform: uppercase;
  font-size: 26px;
  line-height: 42px;
  font-weight: 900;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.offer__order-button {
  background: var(--brand-color);
  color: #fff;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.offer__order-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

/* about-us section */
.about-us {
  padding-bottom: 0px;
}

.about-us__icon-box {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about-us__title {
  visibility: hidden;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.about-us__text-box {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.about-us__paragraph-title {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.about-us__paragraph {
  color: #757575;
  margin-top: 0px;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .about-us__text {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  .about-us__text-box {
    width: 354px;
  }
  .about-us__paragraph-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .about-us__text {
    flex-wrap: nowrap;
  }
  .about-us__text-box {
    width: 270px;
  }
}
/* what-we-do section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do {
  display: none;
  padding-top: 94px;
}

.what-we-do__images {
  display: flex;
  justify-content: space-between;
}

.what-we-do__image {
  display: inline-block;
}

.what-we-do__thumb {
  position: relative;
}

.what-we-do__desc {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.image-description {
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 1200px) {
  .what-we-do {
    display: block;
  }
}
/* our-team section */
.our-team {
  background-color: #F5F4FA;
}

.team-member {
  display: block;
  padding-bottom: 30px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.team-member__socials {
  list-style: none;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  margin-top: 16px;
}

.socials-icon {
  display: inline-block;
  height: 44px;
  width: 44px;
  padding: 12px;
  color: #AFB1B8;
}
.socials-icon:hover {
  background-color: var(--brand-color);
  border-radius: 50px;
  color: #FFFFFF;
  fill: #FFFFFF;
}

.team-member__socials-item {
  margin-right: 10px;
}

.team-member__name {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
}

.team-member__job {
  color: #757575;
  font-size: 16px;
  margin-bottom: 0;
  padding: 0;
}

.team-member__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-members {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .team-member {
    display: inline-block;
  }
  .team-member__image {
    width: 354px;
  }
  .team-member__socials {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team-members {
    display: flex;
    justify-content: space-between;
  }
  .team-member__image {
    width: 270px;
  }
}
/* Icons */
.our-clients {
  padding-bottom: 30px;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.client__card {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  cursor: pointer;
  color: #AFB1B8;
  width: 210px;
  margin-bottom: 30px;
}
.client__card:hover {
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}

.client__link:hover {
  cursor: pointer;
  color: var(--brand-color);
}

@media screen and (min-width: 480px) {
  .clients {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
  .client__card {
    width: auto;
  }
}
/*  --------------- MODAL --------------- */
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 500ms ease;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 450px;
  height: 609px;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-button {
  position: absolute;
  margin: 8px;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  border-radius: 50px;
  height: 29px;
  width: 29px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal__close-button:hover {
  color: var(--brand-color);
}

.modal__input__wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 12px;
}

.input__label__title {
  font-size: 12px;
  line-height: 14px;
  color: #757575;
  letter-spacing: 0.01em;
}

.modal__input {
  width: 100%;
  padding: 14px 14px 14px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}
.modal__input:focus {
  outline-color: var(--brand-color);
}
.modal__input:focus ~ .input__icon {
  color: var(--brand-color);
}

.input__icon {
  color: var(--text-color);
  padding: 0;
  margin: 0;
  position: absolute;
  height: 15px;
  width: 15px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.input__icon--name {
  position: absolute;
  top: 14px;
  left: 15px;
}
.input__icon--email {
  position: absolute;
  top: 15px;
  left: 13.5px;
}
.input__icon--telephone {
  position: absolute;
  top: 14.26px;
  left: 15.26px;
}

.modal__comment {
  width: 100%;
  padding: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
}
.modal__comment:focus {
  outline-color: var(--brand-color);
}

.terms-policy {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  display: inline-flex;
}

.terms__check-sign {
  position: absolute;
  top: 0;
  left: 0;
}

.terms__checkbox {
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  display: inline-flex;
}
.terms__checkbox:checked ~ .terms__checkbox-custom {
  background-color: var(--brand-color);
  border: 3px solid var(--brand-color);
}
.terms__checkbox:checked ~ .terms-check-sign {
  opacity: 1;
}

.terms__checkbox-custom {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  width: 16px;
  height: 15px;
  display: block;
  border: 2px solid #212121;
  position: absolute;
  top: 0;
  left: 0;
}

.terms-policy__text {
  margin-left: 7px;
  font-size: 12px;
}

.modal__button-wrap {
  text-align: center;
}

.submit-button {
  background: var(--brand-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  padding: 10px 52px;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__title {
    line-height: 24px;
  }
  .terms-policy {
    margin-left: 14px;
  }
  .terms-policy__text {
    font-size: 14px;
  }
}
/* --------------- PORTFOLIO --------------- */
/* filters menu */
.filters__list {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin-bottom: 35px;
  flex-wrap: wrap;
  margin-top: 0;
}

.filters__item {
  display: inline-block;
  margin-bottom: 15px;
}

.filter__button {
  margin-right: 8px;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 22px;
  text-align: center;
  vertical-align: middle;
  line-height: 26px;
}
.filter__button:hover {
  background-color: var(--brand-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* projects list */
.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project__item {
  display: inline-block;
  list-style: none;
  margin-bottom: 30px;
}
.project__item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project__item:hover .project__description {
  transform: translateY(0);
}

.project__link {
  text-decoration: none;
}

.project__text {
  border: 1px solid #EEEEEE;
  padding: 19px 24px;
  max-width: 100%;
}

.project__title {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  line-height: 36px;
}

.project__subtitle {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.project__image {
  width: 450px;
}

.project__image-thumb {
  position: relative;
  overflow: hidden;
}

.project__description {
  display: flex;
  align-items: center;
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform 500ms ease;
}

.project__description__text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

@media screen and (min-width: 768px) {
  .filters__list {
    justify-content: center;
  }
  .project__image {
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .project__image {
    width: 370px;
  }
}/*# sourceMappingURL=main.css.map */