/* offer-section */

.offer {
    background-image: url("./../images/bg-image_sm.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    text-align: center;
    color: #fff;
    background-size: 480px;
    display: flex;
    justify-content: center;
    @include mq(retina) {
        background-image: url("./../images/bg-image_sm@2x.jpg");
    }
}

.offer__container {
    padding-top: 118px;
    padding-bottom: 118px;
}

@include mq(mob) {
    .offer__container {
        padding: 118px auto;
    }
}

@include mq(tab) {
    .offer {
        background-image: url("./../images/bg-image-md.jpg");
        background-size: 768px;   
        @include mq(retina) {
            background-image: url("./../../images/bg-image_md@2x.jpg");
        }
    }
    .offer__container {
        padding: 118px 204px;
    }
}

@include mq(desk) {
    .offer {
        background-image: url("./../../images/bg-image_lg.jpg");
        background-size: 1600px auto;
        @include mq(retina) {
            background-image: url("./../../images/bg-image_lg@2x.jpg");
        }
    }
    .offer__container {
        padding: 200px;
    }
    .offer__text {
        width: 700px;
    }
    .main-title {
        font-size: 44px;
        line-height: 60px;
    }
    .offer__order-button {
        padding: 10px 32px;
    }
}

.offer__text {
    width: 360px;
    display: inline-block;
}


.main-title {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 42px;
    font-weight: 900;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
}

.offer__order-button {
    background: var(--brand-color);
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
}

/* about-us section */

.about-us {
    padding-bottom: 0px;
}

.about-us__icon-box {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
}

.about-us__title {
    visibility: hidden;
    padding: 0;
    margin: 0;
    line-height: 0;
}

.about-us__text-box {
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.about-us__paragraph-title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

.about-us__paragraph {
    color: #757575;
    margin-top: 0px;
    line-height: 24px;
}

@include mq(tab) {
    .about-us__text {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    .about-us__text-box {
        width: 354px;
    }
    .about-us__paragraph-title {
        text-align: left;
    }
}

@include mq(desk) {
    .about-us__text {
        flex-wrap: nowrap;
    }
    .about-us__text-box {
        width: 270px;
    }
}

/* what-we-do section */

.section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.what-we-do {
    display: none;
    padding-top: 94px;
}

.what-we-do__images {
    display: flex;
    justify-content: space-between;
}

.what-we-do__image {
    display: inline-block;
}

.what-we-do__thumb {
    position: relative;
}

.what-we-do__desc {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.image-description {
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    padding: 0;
    margin: 0;
}

@include mq(desk) {
    .what-we-do {
        display: block;
    }
}

/* our-team section */

.our-team {
    background-color: #F5F4FA;
}

.team-member {
    display: block;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    box-shadow:  1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.team-member__socials {
    list-style: none;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    margin-top: 16px;
}

.socials-icon {
    display: inline-block;
    height: 44px;
    width: 44px;
    padding: 12px;
    color: #AFB1B8;
    &:hover {
    background-color: var(--brand-color);
    border-radius: 50px;
    color: #FFFFFF;
    fill: #FFFFFF;
    }
}

.team-member__socials-item {
    margin-right: 10px;
}

.team-member__name {
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
}

.team-member__job {
    color: #757575;
    font-size: 16px;
    margin-bottom: 0;
    padding: 0;
}

.team-member__image {
    width: 100%;
}

@include mq(tab) {
    .team-members {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .team-member {
        display: inline-block;
    }
    .team-member__image {
        width: 354px;
    }
    .team-member__socials {
        display: flex;
        justify-content: center;
    }
}

@include mq(desk) {
    .team-members {
        display: flex;
        justify-content: space-between;
    }
    .team-member__image {
        width: 270px;
    }
}

/* Icons */

.our-clients {
    padding-bottom: 30px;
}

.clients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.client__card {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    cursor: pointer;
    color: #AFB1B8;
    &:hover {
        color: var(--brand-color);
        border: 1px solid var(--brand-color);
    }
    width: 210px;
    margin-bottom: 30px;
}

.client__link:hover {
    cursor: pointer;
    color: var(--brand-color);
}

@include mq(mob) {
    .clients {
        justify-content: space-between;
    }
}

@include mq(desk) {
    .clients {
        flex-wrap: nowrap;
    }
    .client__card {
        width: auto;
    }
}
